USE [master]
GO
/****** Object:  Database [vvgEventManager]    Script Date: 17.1.2025. 18:49:30 ******/
CREATE DATABASE [vvgEventManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vvgEventManager', FILENAME = N'/var/opt/mssql/data/vvgEventManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vvgEventManager_log', FILENAME = N'/var/opt/mssql/data/vvgEventManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vvgEventManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vvgEventManager]
GO
/****** Object:  User [vvgadmin]    Script Date: 17.1.2025. 18:49:30 ******/
CREATE USER [vvgadmin] FOR LOGIN [vvgadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [vvgadmin]
GO
/****** Object:  Table [dbo].[event]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event](
	[IDEvent] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](128) NULL,
	[EventTypeID] [int] NULL,
	[Date] [date] NULL,
	[Description] [text] NULL,
	[imageId] [int] NULL,
 CONSTRAINT [PK_event] PRIMARY KEY CLUSTERED 
(
	[IDEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventPerformer]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventPerformer](
	[IDEventPerformer] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[PerformerID] [int] NULL,
 CONSTRAINT [PK_eventPerformer] PRIMARY KEY CLUSTERED 
(
	[IDEventPerformer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventRegistration]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventRegistration](
	[IDEventRegistration] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_eventRegistration] PRIMARY KEY CLUSTERED 
(
	[IDEventRegistration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventType]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventType](
	[IDEventType] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_eventType] PRIMARY KEY CLUSTERED 
(
	[IDEventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[idImage] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [varchar](500) NOT NULL,
	[ImageData] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_image_1] PRIMARY KEY CLUSTERED 
(
	[idImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[IDLog] [int] IDENTITY(1,1) NOT NULL,
	[LevelID] [int] NULL,
	[InfoMessage] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_log] PRIMARY KEY CLUSTERED 
(
	[IDLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logLevel]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logLevel](
	[IDLevel] [int] NOT NULL,
	[LevelName] [nvarchar](max) NULL,
 CONSTRAINT [PK_LogLevel] PRIMARY KEY CLUSTERED 
(
	[IDLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[performer]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[performer](
	[IDPerformer] [int] IDENTITY(1,1) NOT NULL,
	[PerformerName] [varchar](128) NULL,
	[imageId] [int] NULL,
 CONSTRAINT [PK_performer] PRIMARY KEY CLUSTERED 
(
	[IDPerformer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](128) NULL,
	[PwdHash] [nvarchar](max) NULL,
	[PwdSalt] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[UserRoleID] [int] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userRole]    Script Date: 17.1.2025. 18:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userRole](
	[IDUserRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_userRole] PRIMARY KEY CLUSTERED 
(
	[IDUserRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[event] ON 

INSERT [dbo].[event] ([IDEvent], [EventName], [EventTypeID], [Date], [Description], [imageId]) VALUES (43, N'Opa mile ozezi', 2, CAST(N'2024-06-13' AS Date), N'asdadasd', 3)
INSERT [dbo].[event] ([IDEvent], [EventName], [EventTypeID], [Date], [Description], [imageId]) VALUES (45, N'Ucimo zajedno', 2, CAST(N'2025-01-17' AS Date), N'asdasd', 7)
INSERT [dbo].[event] ([IDEvent], [EventName], [EventTypeID], [Date], [Description], [imageId]) VALUES (46, N'Komorna glazba ', 1, CAST(N'2025-01-09' AS Date), N'asdas', 8)
SET IDENTITY_INSERT [dbo].[event] OFF
GO
SET IDENTITY_INSERT [dbo].[eventPerformer] ON 

INSERT [dbo].[eventPerformer] ([IDEventPerformer], [EventID], [PerformerID]) VALUES (41, 46, 27)
INSERT [dbo].[eventPerformer] ([IDEventPerformer], [EventID], [PerformerID]) VALUES (42, 45, 26)
INSERT [dbo].[eventPerformer] ([IDEventPerformer], [EventID], [PerformerID]) VALUES (43, 43, 26)
SET IDENTITY_INSERT [dbo].[eventPerformer] OFF
GO
SET IDENTITY_INSERT [dbo].[eventRegistration] ON 

INSERT [dbo].[eventRegistration] ([IDEventRegistration], [EventID], [UserID]) VALUES (31, 43, 18)
SET IDENTITY_INSERT [dbo].[eventRegistration] OFF
GO
SET IDENTITY_INSERT [dbo].[eventType] ON 

INSERT [dbo].[eventType] ([IDEventType], [EventTypeName]) VALUES (1, N'Glazba    ')
INSERT [dbo].[eventType] ([IDEventType], [EventTypeName]) VALUES (2, N'Predavanje')
SET IDENTITY_INSERT [dbo].[eventType] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[log] ON 

INSERT [dbo].[log] ([IDLog], [LevelID], [InfoMessage], [Timestamp]) VALUES (1, 0, N'Event inserted with ID: 36', CAST(N'2024-05-29T21:27:48.850' AS DateTime))
INSERT [dbo].[log] ([IDLog], [LevelID], [InfoMessage], [Timestamp]) VALUES (2, 0, N'User update with ID: 9', CAST(N'2024-05-30T10:35:50.097' AS DateTime))
INSERT [dbo].[log] ([IDLog], [LevelID], [InfoMessage], [Timestamp]) VALUES (3, 0, N'Performer updated with ID: 19', CAST(N'2024-05-30T10:35:58.267' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[log] OFF
GO
INSERT [dbo].[logLevel] ([IDLevel], [LevelName]) VALUES (0, N'Information')
INSERT [dbo].[logLevel] ([IDLevel], [LevelName]) VALUES (1, N'Warning')
INSERT [dbo].[logLevel] ([IDLevel], [LevelName]) VALUES (2, N'Error')
GO
SET IDENTITY_INSERT [dbo].[performer] ON 

INSERT [dbo].[performer] ([IDPerformer], [PerformerName], [imageId]) VALUES (24, N'Nirvana', NULL)
INSERT [dbo].[performer] ([IDPerformer], [PerformerName], [imageId]) VALUES (25, N'Silvijo harmonika', NULL)
INSERT [dbo].[performer] ([IDPerformer], [PerformerName], [imageId]) VALUES (26, N'Knjiznicarka maca', NULL)
SET IDENTITY_INSERT [dbo].[performer] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([IDUser], [Username], [PwdHash], [PwdSalt], [FirstName], [LastName], [Email], [Phone], [UserRoleID]) VALUES (1, N'admin', N'8C66A1284855583154A4F11AAA4BF55CA73224111B1C29F92BC89D590AE617117FD334409BD36CF7A832318FFAFACFD3BE6077C5567DC1A210E237898D0463AA', N'8RdSbDtJs7rnDKtnzmNBOA==', N'admin', N'adminiccc', N'admin@admin.com', N'1231231', 1)
INSERT [dbo].[user] ([IDUser], [Username], [PwdHash], [PwdSalt], [FirstName], [LastName], [Email], [Phone], [UserRoleID]) VALUES (2, N'user', N'C702EBC6520E9749C881EEACE62F9522F95EFD995B0A2ECC89E3AA1CE0536DD7DA90EC2C3F874B9673D780E7E76B6722B0FDC26331DCB1159580138384F55506', N'1zZKUez9GTfEGwnRUKAOhg==', N'rrrr22asdasd2', N'useric222asdasd', N'user@user.comacccccasdcc222asd', N'22222222222222222asdasdasd', 2)
INSERT [dbo].[user] ([IDUser], [Username], [PwdHash], [PwdSalt], [FirstName], [LastName], [Email], [Phone], [UserRoleID]) VALUES (3, N'adminka', N'F8ADDB39FEA7F8090F4EC1B9F1CE53D7BF8B6E08FB5293B542A3CECA1C4C529A204FFC203D11D7B3EBEC61D8A2F56CF81FA5EF11B748CC6472F032309861AF9C', N'cEq17sxuzD4kg/kTeSNNWQ==', N'ccccc', N'cccc', N'aaaaa@asd.com', N'123123', 2)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[userRole] ON 

INSERT [dbo].[userRole] ([IDUserRole], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[userRole] ([IDUserRole], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[userRole] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_event]    Script Date: 17.1.2025. 18:49:31 ******/
ALTER TABLE [dbo].[event] ADD  CONSTRAINT [IX_event] UNIQUE NONCLUSTERED 
(
	[EventName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_performer]    Script Date: 17.1.2025. 18:49:31 ******/
ALTER TABLE [dbo].[performer] ADD  CONSTRAINT [IX_performer] UNIQUE NONCLUSTERED 
(
	[PerformerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Username]    Script Date: 17.1.2025. 18:49:31 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [UQ_User_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[log] ADD  CONSTRAINT [DF_log_DateTime]  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[event]  WITH CHECK ADD  CONSTRAINT [FK_event_eventType] FOREIGN KEY([EventTypeID])
REFERENCES [dbo].[eventType] ([IDEventType])
GO
ALTER TABLE [dbo].[event] CHECK CONSTRAINT [FK_event_eventType]
GO
ALTER TABLE [dbo].[event]  WITH CHECK ADD  CONSTRAINT [FK_event_image] FOREIGN KEY([imageId])
REFERENCES [dbo].[image] ([idImage])
GO
ALTER TABLE [dbo].[event] CHECK CONSTRAINT [FK_event_image]
GO
ALTER TABLE [dbo].[eventPerformer]  WITH CHECK ADD  CONSTRAINT [FK_eventPerformer_event] FOREIGN KEY([EventID])
REFERENCES [dbo].[event] ([IDEvent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[eventPerformer] CHECK CONSTRAINT [FK_eventPerformer_event]
GO
ALTER TABLE [dbo].[eventPerformer]  WITH CHECK ADD  CONSTRAINT [FK_eventPerformer_performer] FOREIGN KEY([PerformerID])
REFERENCES [dbo].[performer] ([IDPerformer])
GO
ALTER TABLE [dbo].[eventPerformer] CHECK CONSTRAINT [FK_eventPerformer_performer]
GO
ALTER TABLE [dbo].[eventRegistration]  WITH CHECK ADD  CONSTRAINT [FK_eventRegistration_event] FOREIGN KEY([EventID])
REFERENCES [dbo].[event] ([IDEvent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[eventRegistration] CHECK CONSTRAINT [FK_eventRegistration_event]
GO
ALTER TABLE [dbo].[eventRegistration]  WITH CHECK ADD  CONSTRAINT [FK_eventRegistration_user] FOREIGN KEY([UserID])
REFERENCES [dbo].[user] ([IDUser])
GO
ALTER TABLE [dbo].[eventRegistration] CHECK CONSTRAINT [FK_eventRegistration_user]
GO
ALTER TABLE [dbo].[log]  WITH CHECK ADD  CONSTRAINT [FK_log_logLevel1] FOREIGN KEY([LevelID])
REFERENCES [dbo].[logLevel] ([IDLevel])
GO
ALTER TABLE [dbo].[log] CHECK CONSTRAINT [FK_log_logLevel1]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_userRole] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[userRole] ([IDUserRole])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_userRole]
GO
/****** Object:  StoredProcedure [dbo].[EventAdd]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[EventAdd]
	@eventName varchar(max),
	@description text,
	@date datetime,
	@eventTypeID int,
	@idEvent INT OUTPUT,
	@imageName varchar(max),
	@imageData varbinary(max)
AS 
BEGIN

DECLARE @idImage int
	INSERT INTO [Image] VALUES (@imageName,@imageData)
	SET @idImage = SCOPE_IDENTITY()

INSERT INTO [event] VALUES (@eventName,@eventTypeID,@date,@description,@idImage)
	SET @idEvent = SCOPE_IDENTITY()

Declare @messageResult nvarchar(max)
set @messageResult = 'Event inserted with ID: '+CAST(@idEvent as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)

END


GO
/****** Object:  StoredProcedure [dbo].[EventDelete]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EventDelete]
		@eventID INT
AS 
BEGIN
declare @imageId int
set @imageId = (select imageId from [event] where [event].IDEvent = @eventID)


delete from [event] where [event].IDEvent=@eventID
delete from image where idImage = @imageId

Declare @messageResult nvarchar(max)
set @messageResult = 'Event deleted with ID: '+CAST(@eventID as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[EventGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EventGet]
	@idEvent varchar(128)
AS
SELECT * FROM [event] 
join [image] on [image].idImage = [event].imageId
join eventType on eventType.IDEventType = [event].EventTypeID
WHERE [event].IDEvent = @idEvent
GO
/****** Object:  StoredProcedure [dbo].[EventPerformerAdd]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EventPerformerAdd]
	@eventID int,
	@performerID int
AS 
BEGIN
INSERT INTO eventPerformer(eventID, performerID) VALUES (@eventID, @performerID)


DECLARE @value int
SET @value = SCOPE_IDENTITY()

Declare @messageResult nvarchar(max)
set @messageResult = 'EventPerformer inserted with ID: '+CAST(@value as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[EventPerformerDelete]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EventPerformerDelete]
		@eventID INT,
		@performerID INT
AS 
BEGIN
DECLARE @IDEventPerformer int

SET  @IDEventPerformer = (select top 1 IDEventPerformer from eventPerformer where eventPerformer.eventID = @eventID and eventPerformer.performerID = @performerID)


delete from eventPerformer where eventPerformer.eventID = @eventID and eventPerformer.performerID = @performerID

Declare @messageResult nvarchar(max)
set @messageResult = 'EventPerformer deleted with ID: '+CAST(@IDEventPerformer as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[EventPerformersGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EventPerformersGet]
	@eventID varchar(128),
	@search varchar(255) = NULL
AS
SELECT * FROM [eventPerformer] 
join performer on performer.IDPerformer = [eventPerformer].performerID
where eventPerformer.EventID = @eventID
GO
/****** Object:  StoredProcedure [dbo].[EventRegistrationAdd]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EventRegistrationAdd]
	@userID int,
	@eventID int
AS 
BEGIN
INSERT INTO eventRegistration(UserID, EventID) VALUES (@userID, @eventID)

DECLARE @value int
SET @value = SCOPE_IDENTITY()

Declare @messageResult nvarchar(max)
set @messageResult = 'EventRegistration inserted with ID: '+CAST(@value as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[EventRegistrationDelete]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[EventRegistrationDelete]
	@userID int,
	@eventID int
AS 
BEGIN
DECLARE @IDEventRegistration int

SET  @IDEventRegistration = (select top 1 IDEventRegistration from eventRegistration where eventRegistration.eventID = @eventID and eventRegistration.UserID = @userID)

delete from eventRegistration where eventRegistration.eventID = @eventID and eventRegistration.UserID = @userID

Declare @messageResult nvarchar(max)
set @messageResult = 'EventPerformer deleted with ID: '+CAST(@IDEventRegistration as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[EventRegistrationsGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EventRegistrationsGet]
	@userID int,
	@search varchar(255) = NULL
AS
BEGIN
IF (@search is NULL)
	BEGIN
	SELECT * FROM eventRegistration 
	join [event] on [event].IDEvent = eventRegistration.EventID
	join [image] on [image].idImage = [event].imageId
	join eventType on eventType.IDEventType = [event].eventTypeID
	END
	ELSE 
	BEGIN
	SELECT * FROM eventRegistration 
	join [event] on [event].IDEvent = eventRegistration.EventID
	join [image] on [image].idImage = [event].imageId
	join eventType on eventType.IDEventType = [event].eventTypeID
	where eventRegistration.UserID = @userID and EventName like '%'+@search+'%'
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EventsGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EventsGet]
	@search varchar(255) = NULL,
	@category nvarchar(max) = '%'

AS
BEGIN
IF (@search is NULL)
	BEGIN
	SELECT * FROM [event] 
		join [image] on [image].idImage = [event].imageId
		join eventType on eventType.IDEventType = [event].EventTypeID
		where EventTypeName like @category
		order by Date
	END
	ELSE
	BEGIN
		SELECT * FROM [event] 
		join [image] on [image].idImage = [event].imageId
		join eventType on eventType.IDEventType = [event].EventTypeID
		WHERE EventTypeName like @category and EventName like '%'+@search+'%'
		order by Date
	END
END

GO
/****** Object:  StoredProcedure [dbo].[EventTypesGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[EventTypesGet]
AS
SELECT * FROM eventType
GO
/****** Object:  StoredProcedure [dbo].[EventUpdate]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EventUpdate]
	@idEvent int,
	@eventName nvarchar(20),
	@eventTypeID int,
	@date datetime,
	@description text,
	@imageID int = null,
	@imageName nvarchar(max) = null,
	@imageData varbinary(max) = null
AS
BEGIN

IF @imageName IS NOT NULL
	UPDATE [image] SET
		ImageName = @imageName,
		ImageData = @imageData
	WHERE idImage = @imageID

UPDATE [event] SET 
		EventName = @eventName,
		EventTypeID = @eventTypeID,
		[Date] = @date,
		[Description] = @description
	WHERE 
		IDEvent = @idEvent


Declare @messageResult nvarchar(max)
set @messageResult = 'Event updated with ID: '+CAST(@idEvent as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[LogAdd]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[LogAdd]
	@LevelID int,
	@InfoMessage nvarchar(max)

AS 
BEGIN
INSERT INTO [log] (
	LevelID,
	InfoMessage

)VALUES (@LevelID, @InfoMessage)

END
GO
/****** Object:  StoredProcedure [dbo].[LogsCount]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[LogsCount]
AS

SELECT count(*) FROM [Log] 
GO
/****** Object:  StoredProcedure [dbo].[LogsGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[LogsGet]
	@search varchar(max)='%',
	@limit int = 10
AS


SELECT TOP (@limit) * FROM [Log] 
join LogLevel on LogLevel.IDLevel = [log].levelID
where InfoMessage like '%'+@search+'%'
GO
/****** Object:  StoredProcedure [dbo].[MyEventsGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MyEventsGet]
	@search varchar(255) = NULL

AS
BEGIN
IF (@search is NULL)
	BEGIN
	SELECT * FROM [event] 
		join [image] on [image].idImage = [event].imageId
		join eventType on eventType.IDEventType = [event].EventTypeID
		where [event].IDevent NOT IN (select distinct eventID from eventRegistration)
		order by Date
	END
	ELSE
	BEGIN
		SELECT * FROM [event]
		join [image] on [image].idImage = [event].imageId
		join eventType on eventType.IDEventType = [event].EventTypeID
		where [event].IDevent NOT IN (select distinct eventID from eventRegistration) and EventName like '%'+@search+'%'
		order by Date
	END
END

GO
/****** Object:  StoredProcedure [dbo].[PerformerAdd]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PerformerAdd]
	@performerName varchar(max)
AS 
BEGIN
INSERT INTO performer (PerformerName) VALUES (@performerName)

DECLARE @idPerformer int
SET @idPerformer = SCOPE_IDENTITY()

Declare @messageResult nvarchar(max)
set @messageResult = 'Performer inserted with ID: '+CAST(@idPerformer as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[PerformerDelete]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PerformerDelete]
		@idPerformer INT
AS 
BEGIN
delete from eventPerformer where eventPerformer.PerformerID=@idPerformer
delete from [performer] where [performer].IDPerformer=@idPerformer


Declare @messageResult nvarchar(max)
set @messageResult = 'Performer deleted with ID: '+CAST(@idPerformer as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[PerformerGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[PerformerGet]
	@idPerformer int
AS
SELECT * FROM performer 
WHERE performer.IDPerformer = @idPerformer
GO
/****** Object:  StoredProcedure [dbo].[PerformersGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PerformersGet]
	@search varchar(max)=NULL
AS 
BEGIN
IF (@search IS NULL)
	BEGIN
		select * from performer
		order by PerformerName
	END
	ELSE
	BEGIN
		select * from performer
		WHERE PerformerName like '%'+@search+'%'
		order by PerformerName
	END
END
GO
/****** Object:  StoredProcedure [dbo].[PerformerUpdate]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PerformerUpdate]
	@idPerformer int,
	@performerName nvarchar(20)

AS
BEGIN
UPDATE [performer] SET 
		PerformerName = @performerName

	WHERE 
		IDPerformer = @idPerformer

Declare @messageResult nvarchar(max)
set @messageResult = 'Performer updated with ID: '+CAST(@idPerformer as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[UserAdd]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[UserAdd]
	@username varchar(128),
	@pwdHash nvarchar(max),
	@pwdSalt nvarchar(max),
	@firstName nvarchar(max),
	@lastName nvarchar(max),
	@email nvarchar(max),
	@phone nvarchar(max),
	@UserRoleID int,
	@idUser INT OUTPUT
AS 
BEGIN
INSERT INTO [user] (
	Username,
	PwdHash,
	PwdSalt,
	FirstName,
	LastName,
	Email,
	Phone,
	UserRoleID


)VALUES (@username, @pwdHash, @pwdSalt, @firstName, @lastName,@email,@phone,@UserRoleID)
	SET @idUser = SCOPE_IDENTITY()

Declare @messageResult nvarchar(max)
set @messageResult = 'User inserted with ID: '+CAST(@idUser as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)

END
GO
/****** Object:  StoredProcedure [dbo].[UserDelete]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[UserDelete]
		@idUser INT
AS 
BEGIN
delete from eventRegistration where eventRegistration.UserID = @idUser
delete from [user] where [user].IDUser=@idUser


Declare @messageResult nvarchar(max)
set @messageResult = 'User deleted with ID: '+CAST(@idUser as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
/****** Object:  StoredProcedure [dbo].[UserGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[UserGet]
	@idUser int = NULL,
	@username varchar(128) = NULL
AS
BEGIN
if (@username IS NOT null)
	BEGIN
		SELECT * FROM [user] 
		join userRole on userRole.IDUserRole = [user].UserRoleID
		WHERE Username = @username
	END 
	ELSE
	
	BEGIN
			SELECT * FROM [user] 
		join userRole on userRole.IDUserRole = [user].UserRoleID
		WHERE IDUser = @idUser
	END
END




GO
/****** Object:  StoredProcedure [dbo].[UserRolesGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[UserRolesGet]
AS
SELECT * FROM UserRole order by RoleName desc
GO
/****** Object:  StoredProcedure [dbo].[UsersGet]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[UsersGet]
AS
SELECT * FROM [user] 
join userRole on userRole.IDUserRole = [user].UserRoleID
GO
/****** Object:  StoredProcedure [dbo].[UserUpdate]    Script Date: 17.1.2025. 18:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[UserUpdate]
	@idUser int,
	@username varchar(128),
	@pwdHash nvarchar(max),
	@pwdSalt nvarchar(max),
	@firstName nvarchar(max),
	@lastName nvarchar(max),
	@email nvarchar(max),
	@phone nvarchar(max),
	@UserRoleID int
AS
BEGIN
UPDATE [User] SET 
		Username = @username,
		PwdHash = @pwdHash,
		PwdSalt = @pwdSalt,
		FirstName = @firstName,
		LastName = @lastName,
		Email = @email,
		Phone = @phone,
		UserRoleID = @UserRoleID

	WHERE 
		IDUser = @idUser


Declare @messageResult nvarchar(max)
set @messageResult = 'User update with ID: '+CAST(@idUser as varchar(255))

insert into [log] (levelID,InfoMessage)
	values (0,@messageResult)
END
GO
USE [master]
GO
